{% extends 'base.html.twig' %}

{% block title %}EVENTfilter{% endblock %}

{% block body %}
<div class="container">
    <h1 class="">Chose from all our bigEVENTs</h1>
    <a href="{{ path('app_event_new') }}" class="btn mb-3 btn-success">Create new</a>
        <div class="row row.cols-3">
            {% for event in events %}
            <div class="card pt-3 mb-3 bg-light" style="width: 18rem;">
                <img src="{{ event.picture }}" class="card-img-top" alt="EVENTpic">
                <div class="card-body">
                    <p class="card-text">{{ event.date|date("D, Y-m-d h:i") }}</p>
                    <h5 class="card-title">{{ event.name }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                <a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn btn-primary">details</a>
                <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="btn btn-warning">update</a>
                </div>


            </div>
            {% endfor %}
        </div>
    </div>
{# 
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Description</th>
                <th>Picture</th>
                <th>Capacity</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Location</th>
                <th>Street</th>
                <th>Number</th>
                <th>Zip</th>
                <th>City</th>
                <th>Url</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.date ? event.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.picture }}</td>
                <td>{{ event.capacity }}</td>
                <td>{{ event.email }}</td>
                <td>{{ event.phone }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.street }}</td>
                <td>{{ event.number }}</td>
                <td>{{ event.zip }}</td>
                <td>{{ event.city }}</td>
                <td>{{ event.url }}</td>
                <td>{{ event.type }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 
#}
    {% endblock %}
